
$cc_doorOpacity: 0.6;
$cc_overlayType: normal; /*todo!!!*/
$cc_overlayColor: rgba(0,0,0,0.8);
$cc_breakpointMD: 768px;
$cc_breakpointXS: 400px;
$cc_doorBgColor: #631478;
$cc_doorBgColorOpacity: 0.6;
$doorFontColor: #000;
$doorSecretBgColor: #631478;
$doorSecretFontColor: #fff;
$popSecretButtonBgColor: #631478;
$popSecretButtonFontColor: #631478;
$popSecretBgColor: #66157d;
$popSecretFontColor: #fff;      

